---
  layout: base
  title: Новости
  redirect_from: /news.html
---

<div class="page-title-bar">
  <div class="inner-content">
    <h2>Новости</h2>
  </div>
</div>

<div id="blog">
  <div id="blog-content">
    {% for post in paginator.posts %}
    <article>
      <header>
        <h1><a href="{% unless site.baseurl == "/" %}{{ site.baseurl }}{% endunless %}{{ post.url }}">{{ post.title }}</a></h1>
        <p>Дата публикации: {{ post.date | date: "%B %d, %Y" }}, Автор: {% if post.author %}{{ post.author }}{% else %}Администратор{% endif %}</p>
      </header>
      <div class="entry-content">
        {{ post.content }}
      </div>
    </article>
    {% endfor %}
  
    {% if paginator.page %}
    <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="{{ site.url }}/news/" class="btn">Назад</a>
      {% else %}
        <a href="{{ site.url }}/news/page{{ paginator.previous_page }}" class="btn">Назад</a>
      {% endif %}
    {% else %}
      Назад
    {% endif %}
      <ul class="inline-list">
      <li>
        {% if paginator.page == 1 %}
          <span class="current-page">1</span>
        {% else %}
          <a href="{{ site.url }}">1</a>
        {% endif %}
      </li>
      {% for count in (2..paginator.total_pages) %}
        <li>
          {% if count == paginator.page %}
            <span class="current-page">{{ count }}</span>
          {% else %}
            <a href="{{ site.url }}/news/page{{ count }}">{{ count }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% if paginator.next_page %}
      <a href="{{ site.url }}/news/page{{ paginator.next_page }}" class="btn">Вперед</a>
    {% else %}
      Вперед
    {% endif %}
    </div>
    {% endif %}

  </div>
  <div id="blog-nav">
    <h4>Наша группа вконтакте</h4>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
    <div id="vk_groups"></div>
    <script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 87632609);</script>

    <h4>Конференция</h4>
    <iframe src="https://discordapp.com/widget?id=255099839472336896&theme=dark" width="300" height="400" allowtransparency="true" frameborder="0"></iframe>

    <h4>Архив новостей</h4>
    <ul class="bordered-list">
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%d-%m-%Y" }}</span>
      </li>
      {% endfor %}
    </ul>

  </div>
</div>
