<div id="header">
  <div class="inner-content">
    <nav id="nav">
      <a {% if page.title == "Terraria: Otherworld - Русскоязычный сайт" %}class="active"{% endif %} href="{{site.base_path}}index.html">Главная</a>
      <a {% if page.title == "Скачать Terraria: Otherworld" %}class="active"{% endif %} href="{{site.base_path}}skachat-terraria-otherworld.html">Скачать Terraria: Otherworld</a>
      <a href="http://ru.terraria-otherworld.wikia.com/">Wiki</a>
      <a href="{{site.base_path}}server-terraria-otherworld.html">Мультиплеер</a>
      <a {% if page.title == "Новости" %}class="active"{% endif %} href="{{site.base_path}}news/">Новости</a>
    </nav>
    <div id="social">
      <span>Нас можно найти тут:</span>
      <a class="vk" href="https://vk.com/terraria_otherworld_ru">Вконтакте</a>
      <a class="steam" href="http://steamcommunity.com/groups/terraria_otherworld">Steam</a>
    </div>
  </div>
</div>
