{% include head.html %}
<body>
  
  {% include header.html %}

  <div class="page-title-bar">
    <div class="inner-content">
      <h2>{{ page.title }}</h2>
    </div>
  </div>

  <div class="page-type-subnav">
    <div id="blog-single">
      <article>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- terraria-otherworld 1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2572588324182819"
                     data-ad-slot="6265733686"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {{ content }}
      </article>
    </div>
  </div>

  {% include footer.html %}

</body>
</html>
