{% include head.html %}
<body>
  
  {% include header.html %}

  <div class="page-title-bar">
    <div class="inner-content">
      <h2>Новости</h2>
    </div>
  </div>

  <div id="blog">
    <div id="blog-single">
      <article>
        <header>
          <h1>{{ page.title }}</h1>
          <p>Дата публикации: {{ page.date | date: "%B %d, %Y" }}, Автор: {% if page.author %}{{ page.author }}{% else %}Администратор{% endif %}</p>
        </header>
        <div class="entry-content">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- terraria-otherworld 1 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-2572588324182819"
               data-ad-slot="6265733686"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          {{ content }}
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- terraria-otherworld 2 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-2572588324182819"
               data-ad-slot="9219200086"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </article>
    
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = '{{ site.disqus_shortname }}';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>

  {% include footer.html %}

</body>
</html>

